[Unit]
Description=Wxstation Service
After=network.target

[Service]
Type=simple
User=wxstation
WorkingDirectory=/opt/wxstation/bin
Environment=PYTHONPATH=/opt/wxstation/bin
ExecStart=/usr/bin/python3 -u /opt/wxstation/bin/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target